.information{
    font-size: 10px;
}
.information input{
    display:flex;
    margin-top: 10px;
    border-radius:10px;
    border-color: rgb(61, 62, 63);

}
.information button{
    margin-top: 10px;
    background-color: rgb(144, 141, 142);
    border-radius: 10px;
    
}
p{
    font-size: medium;
}
.topright{
    width: 100px;
    border-radius: 20%;
    position: absolute;
    top: 10px;
    right: 10px;
}